
  
  .container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 100px;
  }
  
  .container * {
	box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
	list-style-type: none;
	padding: 0;
  }
  
  .flex-outer {
	max-width: 800px;
	margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  }
  
  .flex-inner {
	padding: 0 8px;
	justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
	margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
	padding: 8px;
	font-weight: 300;
	letter-spacing: .09em;
	text-transform: uppercase;
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
	flex: 1 0 120px;
	max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
	flex: 1 0 220px;
  }
  
  .flex-outer li p {
	margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
	padding: 15px;
	border: none;
  }
  
  .flex-outer li button {
	margin-left: auto;
	padding: 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
  }
  
  .flex-inner li {
	width: 100px;
  }




.footer-distributed{
	background-color: #FFF;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}


.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.nav-item{
	background-color: black;
	border-radius: 20px;
	
}
.bio-glob{
 display: flex;
 justify-content: center; 
 width: 900px;
 margin: 0 auto;
  background-color: rgba(23, 26, 26, 0.192); 
 
}
.bio {
    width: 700px;
    height: 300px;
    padding: 1em;
    margin: 1.2em;
    border-radius: 8%;
	background-color: #f2f2f2;
	
	color: #333;
}
.bio-content{
	font-family: monospace;
	font-size: 18px;
	
}
#descrip{
	color: orangered;
	font-size: 1.2em;
	
}

.bio-avatar {
    float: left;
    shape-outside: circle(50);
     border-radius: 10%; 
    margin:  0 1em 1em 0;
}
.bio-name {
    text-align: justify;
    font-family: monospace;
    color: black;
}
.article {
	display: flex;
	justify-content: center;

	

}
.bloc_art{
	background-color: rgba(255, 255, 255, 0.15);
	font-family: monospace;
	margin-top: 20px;
	width: 700px;
	
}
#art{
	display: flex;
justify-content: center;
}

#titreart{
	display: flex;
	justify-content: center;
}
.modif{
	margin-left: 50px;
	margin-bottom: 20px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	padding: 4px;
	
}
.modif:hover{
	background-color: palevioletred;
	color: black;
 }
.supp{
	margin-left: 50px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	padding: 4px;
}

.supp:hover{
	background-color: palevioletred;
	color: black;
 }


.lien{
	color: white;
	padding-left: 50px;

}
.bouton:hover{
   background-color: white;
   color: black;
}
.monform{
	display: flex;
	margin-top: 50px;
}
.field{
	margin-left: 500px;	
}
#leg{
	display: flex;
	justify-content: center;
	font-family: monospace;
	font-size: 2.5em;
	color: white;
}
td{
	font-family: monospace;
	color: white;
	font-size: 1.3em;
	margin-right: 20px;
}
.idcom{
	color: black;
}




